<div *ngIf="!!invitation" class="container">

    <div class="row">
        <div class="intro col col-12 col-md-6 offset-md-3">
            <ng-container *ngIf="invitation.declined">
                <div class="alert alert-blank fade show" role="alert">
                    <p [innerHtml]="'MAIN.DECLINATION' | translate:invitation">
                    </p>
                </div>
            </ng-container>
        </div>
    </div>

    <app-content [guest]="invitation.name" *ngIf="!invitation.declined"></app-content>

    <ng-container *ngIf="!invitation.declined && !invitation.confirmed">

        <div class="row">
            <div class="intro col col-12 col-md-6 offset-md-3">
                <h4 *ngIf="stats" class="text-center">{{(stats.seats - stats.confirmations)}} von {{stats.seats}}
                    Plätzen frei</h4>
            </div>
        </div>

        <app-confirmation [invitation]="invitation"
                          [registrationOpened]="registrationOpened"
                          (stateChanged)="refresh()"></app-confirmation>
    </ng-container>
</div>
