<div class="row">
    <div *ngIf="!!contents" class="topics text-center col col-12 col-sm-6 offset-sm-3">
        <div class="btn-group">
            <button *ngFor="let contentItem of contents"
                    (click)="topic = contentItem.topic;content=contentItem.content"
                    [class.active]="contentItem.topic===topic"
                    class="btn btn-outline-blank"
            >
                {{contentItem.topic}}
            </button>
        </div>
    </div>
    <div class="content col col-12 col-sm-6 offset-sm-3" *ngIf="!!topic">
        <h1>{{topic}}</h1>
        <p [innerHtml]="content.replace(guestRegExp, guest)"></p>
    </div>
</div>